* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial;
  max-width: 1280px;
  margin: 0 auto;
}

table,
td,
th {
  border: 1px solid;
  border-collapse: collapse;
}

td,
th {
  padding: 10px;
  text-align: center;
}

ul, ol {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  margin: 20px 0;
}

.title {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.link:hover {
  color: darksalmon;
}

.is-clickable  {
  cursor: pointer;
}

.row,
.col {
  display: flex;
}

.row.space-between {
  justify-content: space-between;
}

.row.flex-end {
  justify-content: flex-end;
}

.col {
  flex-direction: column;
}

.no-pointer-events {
  pointer-events: none;
}

.is-hidden {
  display: none !important;
}