<nav class="nav-bar">
    <ul class="nav-list">
        <li><a class="link" href="/">Home</a> | </li>
        <li><a class="link" href="/foods">Foods</a> | </li>
        <li><a class="link" href="/foods/create">Create food</a></li>
        <li><a class="link" href="/foods/manage">Manage</a></li>
    </ul>
</nav>