@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,500&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgb(53, 54, 58);
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

.container {
  padding: 40px;
}

.instructions {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin-bottom: 20px;
}

.description {
  font-size: 22px;
  font-weight: 300;
}

.input {
  padding: 4px 8px;
  font-size: 14px;
}
