<form class="form" action="/recipes/create" method="POST">

    <div class="form-group">
        <label for="title">Title</label>
        <input class="input" id="title" type="text" name="title">
    </div>

    <div class="form-group">
        <label for="cuisine">Cuisine</label>
        <input class="input" id="cuisine" type="text" name="cuisine">
    </div>

    <div class="form-group">
        <label for="ingredients-1">Ingredient n째1</label>
        <input class="input" id="ingredients-1" type="text" name="ingredients">
    </div>

    <div class="form-group">
        <label for="ingredients-2">Ingredient n째2</label>
        <input class="input" id="ingredients-2" type="text" name="ingredients">
    </div>

    <div class="form-group">
        <label for="ingredients-3">Ingredient n째3</label>
        <input class="input" id="ingredients-3" type="text" name="ingredients">
    </div>

    <div class="form-group">
        <label for="ingredients">Ingredient n째4</label>
        <input class="input" id="ingredients" type="text" name="ingredients">
    </div>

    <div class="form-group">
        <label for="image">Image</label>
        <input class="input" id="image" type="text" name="image">
    </div>


    <div class="form-group">
        <label for="duration">Duration</label>
        <input class="input" id="duration" type="number" name="duration">
    </div>


    <div class="form-group">
        <label for="creator">Creator</label>
        <input class="input" id="creator" type="text" name="creator">
    </div>

    <button class="btn">Submit</button>
</form>