/*Reset Button*/

button {
	border: none;
  background: none;
  cursor: pointer;
	padding: 0;
  margin: 0;
}

button:focus {
outline: none;
}

/*--ARROW BUTTON--*/

.button-primary {
  color: white;
  background: black;
  border:1px solid;
  font-size: 1rem;
  transition: all .2s ease-in;
  transition-property:color, background;
  border-radius: .2rem;
  padding: .5rem .8rem;
}

.button-primary:hover {
  color:black;
  background: white;
  border:1px solid;
}

.button-ternary {
  color: rgb(151, 151, 151);
  font-size: 1rem;
  transition: all .2s ease-in;
  transition-property:color;
}

.button-ternary:hover {
  color:black
}

/* .arrow-button .btn-text {
  font-size: 1rem;
} */

/* .arrow-button .arrow {
  font-size: .9rem;
} */