.header {
  width: 100%;
}

.nav-link {
  align-items: center;
  margin-left: auto;
}

/* .nav-link-wrapper{
width: 50%;
} */

.nav-wrapper {
  border-bottom: 1px solid rgb(212, 212, 212);
  height: 53px;
  padding: 0 1.2rem;
}

.nav-logo {
  margin-right: 3.5rem;
}

h2.logo-item {
  font-size: 2rem;
}

.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  transition: all 0.2s ease-in;
  transition-property: box-shadow;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item:hover {
  box-shadow: inset 0 -3px 0 0 #111;
}

.nav-item-admin {
  color: rgb(52, 52, 255);
  transition: all 0.2s ease-in;
  transition-property: box-shadow;
}

.nav-item-admin:hover {
  box-shadow: inset 0 -3px 0 0 rgb(52, 52, 255);
}

.nav-item a {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 400;
}

/* Left part nav items*/
.nav-end {
  align-items: center;
  margin-left: auto;
}

.nav-end-item:first-child {
  margin-right: 1.2rem;
}

.btn-text {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
}

.shop-cart-icon {
  font-size: 0.8rem;
  color: rgb(151, 151, 151);
}

.shop-cart-icon:hover {
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.shop-cart {
  position: relative;
}

.cart-items {
  position: absolute;
  right: -10px;
  top: -10px;
  color: tomato;
}
