<main class="page">

  <form class="form" autocomplete="off" action="/movies" method="POST">
    <h2 class="title">Create a movie</h2>

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" name="title">
    </div>

    <div class="form-group">
      <label for="genre"> Genre</label>
      <input type="text" id="genre" name="genre">
    </div>

    <div class="form-group">
      <label for="plot">Plot</label>
      <textarea name="plot" id="plot" rows="10"></textarea>
    </div>

    <button class="btn-submit">Submit</button>
  </form>
</main>