<div class="banner">
    <div class="wrapper">

        <img class="hero-image" src="/images/beer.png" alt="beer">
        <a class="btn-cta" href="/beers">Check the Beers!</a>
        <a class="btn-cta" href="/random-beer">Check a Random Beer!</a>
    </div>
</div>