@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,500&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgb(53, 54, 58);
  color: whitesmoke;
}

.box {
  width: 200px;
  height: 200px;
  background-color: dodgerblue;
  border: 1px solid white;
  /* transition-property, transition-duration, transition-timing-function, and transition-delay. */
  transition: width 2s linear 10s,
    background-color 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* .box:hover {
  width: 100px;
  background-color: darkorchid;
} */

.box.is-active {
  background-color: green;
}
