* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

ul {
  padding-left: 20px;
}

table,
td,
th {
  border: 1px solid;
}

td,
th {
  padding: 7px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #31c2fe;
}

.title {
  margin: 15px 0;
}

.flex-row {
  display: flex;
}

.list {
  line-height: 1.9rem;
}

.list .item {
  padding-left: 10px;
}

.has-border-bottom {
  padding-bottom: 20px;
  /* border-bottom: 1px solid; */
}

.row,
.col {
  display: flex;
}

.col {
  flex-direction: column;
}

.row.space-between {
  justify-content: space-between;
}
