<form action="/artists/update/{{artist._id}}" method="post" class="form">
    <h1 class="title">Update artist</h1>

    <label class="label" for="name">name</label>
    <input class="input" id="name" type="text" name="name" value="{{artist.name}}">

    <label class="label" for="description">description</label>
    <textarea class="input" id="description" type="text" name="description">
        {{artist.description}}
    </textarea>

    <label class="label">is band ?</label>

    <div class="row">
        {{#if artist.isBand }}
        <label for="is-band">yes</label>
        <input id="is-band" type="radio" name="isBand" value="yes" checked>
        <label for="is-not-band">no</label>
        <input id="is-not-band" type="radio" name="isBand" value="no">
        {{else}}
        <label for="is-band">yes</label>
        <input id="is-band" type="radio" name="isBand" value="yes">
        <label for="is-not-band">no</label>
        <input id="is-not-band" type="radio" name="isBand" value="no" checked>
        {{/if}}
    </div>
    <button class="btn">ok</button>
</form>