<h2>About this website</h2>

<div class="container">


    <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque voluptatum sunt molestiae unde.
        Nostrum ad
        reprehenderit modi officiis delectus, itaque, id explicabo veniam magni error consectetur pariatur accusamus
        ipsum?
        Repudiandae?</p>
    <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque voluptatum sunt molestiae unde.
        Nostrum ad
        reprehenderit modi officiis delectus, itaque, id explicabo veniam magni error consectetur pariatur accusamus
        ipsum?
        Repudiandae?</p>
    <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque voluptatum sunt molestiae unde.
        Nostrum ad
        reprehenderit modi officiis delectus, itaque, id explicabo veniam magni error consectetur pariatur accusamus
        ipsum?
        Repudiandae?</p>
</div>