<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- We do not reference the file as a relative path --}}
    <link rel="stylesheet" href="/css/base.css">
    <title>Express Basic Site</title>
</head>

<body>

    {{>navbar}}
    <main class="page">
        {{{ body }}}
    </main>
</body>

</html>