<nav id="nav-admin" class="nav">
    <div class="block">
        <span>artists</span>
        <a class="link" href="/artists/admin" title="manage artists">
            <i class="fas fa-list-ul"></i>
        </a>
        <a class="link" href="/artists/create" title="create new artist">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <div class="block">
        <span>albums</span>
        <a class="link" href="/albums/admin" title="manage albums">
            <i class="fas fa-list-ul"></i>
        </a>
        <a class="link" href="/albums/create" title="create new album">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <div class="block">
        <span>labels</span>
        <a class="link" href="/labels/admin" title="manage labels">
            <i class="fas fa-list-ul"></i>
        </a>
        <a class="link" href="/labels/create" title="create new label">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <div class="block">
        <span>styles</span>
        <a class="link" href="/styles/admin" title="manage styles">
            <i class="fas fa-list-ul"></i>
        </a>
    </div>
</nav>