<nav id="nav-main" class="nav">
    <a href="/" class="link">| home </a>
    <a href="/artists/all" class="link">| all artists</a>
    <a href="/albums/all" class="link">| all albums</a>
    {{#unless isLoggedIn}}
    <a href="/auth/signin" class="link">| <i class="fa fa-user fa-1x"></i></a>
    {{/unless}}
    {{#if isLoggedIn}}
    <a href="/dashboard">| <i class="fa fa-user fa-1x"></i></a>
    {{/if}}
</nav>