<form class="form" id="search_bar">
    <div class="row">
        <input id="search_query" type="text" class="input" value="" placeholder="search an artist here...">
        <button class="btn">
            <i id="btn_search" class="is-clickable fas fa-search"></i>
        </button>
    </div>
</form>
<hr>
<div id="search_results"></div>