<form class="form" action="/foods" method="POST">
    <h2 class="title">Create food !</h2>
    <div class="form-group">
        <label class="label" for="name">Name</label>
        <input class="input" id="name" type="text" name="name">
    </div>

    <div class="form-group">
        <label class="label" for="image">Image</label>
        <input class="input" id="image" type="text" name="image">
    </div>

    <div class="form-group">
        <label class="label" for="price">Price</label>
        <input class="input" id="price" type="text" name="price">
    </div>

    <div class="form-group">
        <label class="label" for="type">Type</label>
        <select name="type" id="type">
            <option value="fruit">Fruit</option>
            <option value="vegetable">Vegetable</option>
        </select>
    </div>

    <div class="form-group">

        <input id="foodId" type="checkbox" name="food" value="1234">
        <label for="foodId">Tomatoe</label>

        <input id="appleId" type="checkbox" name="food" value="apple">
        <label for="appleId">Apple</label>
    </div>

    <button class="btn">Submit</button>
</form>