<h1 class="title">Admin panel</h1>
<h2 class="title">Bonus D.I.Y Todos</h2>
<ul>
    <li>display the 3 last inserted artists</li>
    <li>display the 3 last inserted albums</li>
    <li>use charts.js to create a chart representing the distribution by style of artists/albums</li>
    <li>implement a rating system</li>
</ul>