<h1 class="title">Dashboard</h1>
<p id="dashboard-intro">
    <img class="avatar" src="{{currentUser.avatar}}" alt="user avatar">&nbsp;|&nbsp;Welcome to your dashboard {{currentUser.email}} | {{colineFavoriteArtist}}
</p>
<hr>
{{#if isAdmin}}
<a href="/admin">
    <span>admin panel</span>
    <i class="fas fa-user-shield"></i>
</a>
<hr>
{{/if}}
<a href="/auth/signout">
    <span>signout</span>
    <i class="fas fa-sign-out-alt"></i>
</a>
<hr>
<h2 class="title">Bonus D.I.Y Todos</h2>
<ul>
    <li>provide a form to update user email + password</li>
    <li>provide a way to update user's avatar</li>
</ul>