<h1 class="title">Home</h1>
<p>After signing up as a user <br>
    Go to mongocompass and change the role to admin to unlock the admin navbar. <br>
    You will probably have to signout / signin again.
</p>
<hr>
<h2 class="title">.env config</h2>

<code>
        PORT = 9999<br>
        MONGO_URI = mongodb://localhost/artistify-0130<br>
        SESSION_SECRET = tKS?9AaLongStSringHardTOCrackjQ¨*SA?SA<br>
        CLOUDINARY_NAME = ??????? <br>
        CLOUDINARY_KEY = ????????? <br>
        CLOUDINARY_SECRET = ????????

    </code>
<hr>