<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artistify</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/modules.css">
    <link rel="stylesheet" href="/css/form.css">
    <script src="/js/search-bar.js" type="module"></script>
    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}.css">
    {{/each}}
    {{!-- {{#if needAJAX}} --}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {{!-- {{/if}} --}}
    {{#each js}}
    <script src="/js/{{this}}.js" type="module"></script>
    {{/each}}
</head>

<body>
    <header id="header-main">
        <div class="row space-between">
            <a href="/" class="logo">Artistify</a>
            {{> navMain}}
        </div>
        {{#if isAdmin}}
        {{> navAdmin}}
        {{/if}}
    </header>
    {{> searchBar }}
    <main class="page">
        {{> flashMessage }}
        {{{body}}}
    </main>

    <footer></footer>

</body>

</html>