<div class="not-found">

    <h1 class="message">It seems that you have ran too far <br>
        You are now lost... in the woods... <br>
        Alone. Your sneakers are dirty. <br>
        You see some light. <br>
        What is it ? <br>
        <a class="button" href="/">Home</a>
    </h1>
</div>