<section class="sign form-container">
  <header class="form-header">
    <h1 class="form-title">Start your SneakLove journey</h1>
    <p class="form-subtitle">Enjoy yourself and be comfortable </p>
  </header>
  {{#if msg}}
  <p class="message {{msg.status}}">{{msg.text}}</p>
  {{/if}}
  <form method="post" action="/signup" method="post" id="form_user">
    <div class="form-item-wrapper flexed-item">
      <label for="firstname" class="label-ref label">Name</label>
      <input id="firstname" type="text" class="input-text input" placeholder="Albert" name="name" required value="yo">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="lastname" class="label-ref label">Last Name</label>
      <input id="lastname" type="text" class="input-text input" placeholder="Biceps" required name="lastname"
        value="gui">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="email" class="label-ref label">Email</label>
      <input id="email" type="email" class="input-text input" placeholder="albert.biceps@gmail.com" name="email"
        required value="yo@gui.com">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="password" class="label-ref label">Password</label>
      <input id="password" type="password" class="input-text input" placeholder="••••••" name="password" required
        value="1234">
    </div>
    <button class="button-primary white">Create Account</button>
  </form>
  <p class="form-sub-infos">Already have an account ? <a href="/signin" class="button-link-form">Sign In</a></p>
</section>