{{!-- <img src="/images/big_cat.jpg" alt=""> --}}
<h1>Home page</h1>

<p>Number of users: {{count}}</p>

{{#if isLoggedIn}}
<p>You are logged in !</p>
{{else}}
<p>You have to sign in</p>
{{/if}}

{{>userList }}

{{#unless myKey}}
<p>Hello</p>
{{/unless}}