@import "./foods.css";
@import "./form.css";
@import "./navbar.css";
@import "./table.css";

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  padding: 40px 60px;
}

.nav-link {
  cursor: pointer;
}
.nav.link:hover {
  color: dodgerblue;
  border-bottom: 1px solid;
}

.link {
  color: dodgerblue;
}

.link:hover {
  color: salmon;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 10px;
}

.recipe {
  padding: 10px 16px;
  border: 1px solid black;
  border-radius: 4px;
}
