<nav class="nav-bar">
    <ul class="nav-list">
        <li><a class="nav-link" href="/foods/create">Create food</a> | </li>
        <li><a class="nav-link" href="/foods/manage">Manage food</a> | </li>
        <li><a class="nav-link" href="/recipes/create">Create recipe</a> | </li>
        <li><a class="nav-link" href="/recipes/manage">Manage recipe</a> | </li>
    </ul>
</nav>