<nav class="nav-bar">
    <ul class="nav-list">
        <li><a class="link" href="/">Home</a> | </li>
        <li><a class="link" href="/recipes">Recipes</a> | </li>
        <li><a class="link" href="/foods">Foods</a> | </li>
        <li><a class="link" href="/foods/create">Create food</a> | </li>
        <li><a class="link" href="/foods/manage">Manage food</a> | </li>
        <li><a class="link" href="/recipes/create">Create recipe</a> | </li>
        <li><a class="link" href="/recipes/manage">Manage recipe</a></li>
    </ul>
</nav>